<ul id="menu" class="menu menu-left">
    {{#foreach navigation}}
        <li class="menu-item menu-item-home menu-item-active nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
            <a href="{{url absolute="true"}}" rel="section">
                <i class="menu-item-icon fa fa-home fa-fw"></i> <br>{{label}}
            </a>
        </li>
    {{/foreach}}
</ul>