<aside id="sidebar" class="sidebar sidebar-active" style="display: block; width: 320px;">
    <div class="sidebar-inner">
        <section class="site-overview sidebar-panel sidebar-panel-active" style="opacity: 1; display: block; transform: translateY(0px);">
            <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person" style="opacity: 1; display: block; transform: translateX(0px);">
                <img class="site-author-image" itemprop="image" src="{{@blog.cover}}" alt="{{@blog.title}}">
                <p class="site-author-name" itemprop="name">WuChong</p>
                <p class="site-description motion-element" itemprop="description" style="opacity: 1; display: block; transform: translateX(0px);">{{@blog.description}}</p>
            </div>
            <nav class="site-state motion-element" style="opacity: 1; display: block; transform: translateX(0px);">
                <div class="site-state-item site-state-posts">
                    <a href="/archives">
                        <span class="site-state-item-count"></span>
                        <span class="site-state-item-name">文章</span>
                    </a>
                </div>

                <!--
                          <div class="site-state-item site-state-categories">
                            <a href="/categories">
                              <span class="site-state-item-count">11</span>
                              <span class="site-state-item-name">分类</span>
                            </a>
                          </div>
                          -->




                <div class="site-state-item site-state-categories">

                    <a href="/categories">

                        <span class="site-state-item-count">11</span>
                        <span class="site-state-item-name">标签</span>
                    </a>
                </div>




                <div class="site-state-item site-state-tags">
                    <a href="/tags">
                        <span class="site-state-item-count">62</span>
                        <span class="site-state-item-name">标签</span>
                    </a>
                </div>


            </nav>


            <div class="feed-link motion-element" style="opacity: 1; display: block; transform: translateX(0px);">
                <a href="/atom.xml" rel="alternate">
                    <i class="fa fa-rss"></i>
                    RSS
                </a>
            </div>


            <div class="links-of-author motion-element" style="opacity: 1; display: block; transform: translateX(0px);">

            </div>



            <div class="cc-license motion-element" itemprop="license" style="opacity: 1; display: block; transform: translateX(0px);">
                <a href="http://creativecommons.org/licenses/by-nc-sa/4.0" class="cc-opacity" target="_blank">
                    <img src="/images/cc-by-nc-sa.svg" alt="Creative Commons">
                </a>
            </div>


            <div class="links-of-author motion-element" style="opacity: 1; display: block; transform: translateX(0px);">

                <p class="site-author-name">Links</p>

              <span class="links-of-author-item">
                <a href="http://jm.taobao.org" target="_blank">阿里中间件博客</a>
              </span>

              <span class="links-of-author-item">
                <a href="http://blog.flink-china.org" target="_blank">Flink China</a>
              </span>


            </div>

        </section>


        <section class="post-toc-wrap motion-element sidebar-panel sidebar-panel-active" style="opacity: 0; display: none; transform: translateX(0px) translateY(0px);">
            <div class="post-toc-indicator-top post-toc-indicator" style="opacity: 0;">
                <i class="fa fa-angle-double-up"></i>
            </div>
            <div class="post-toc" style="height: 0px;">




                <div class="post-toc-content"><ol class="nav"><li class="nav-item nav-level-2"><a class="nav-link" href="#总结"><span class="nav-number">1.</span> <span class="nav-text">总结</span></a></li></ol></div>

            </div>
            <div class="post-toc-indicator-bottom post-toc-indicator" style="opacity: 0;">
                <i class="fa fa-angle-double-down"></i>
            </div>
        </section>


    </div>
</aside>